<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <style>
         body{
            background-color: rgb(10, 26, 37);
            color: aliceblue;
            text-decoration: aliceblue;
        }
    </style>
</head>
<body>
    <h1>URL Shortener Project</h1>

    <h3>Sign in</h3>
    <form action="/signed" method="post">

        <label for="uname">Username :</label>
        <input type="text" name="uname" id="uname">

        <label for="email">Email :</label>
        <input type="text" name="email" id="email" required>

        <label for="pass">Password : </label>
        <input type="password" name="pass" id="pass" required>
        <button>Submit</button>

    </form>


</body>
</html>